body {
    padding-top: 50px;
    padding-bottom: 20px;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.dl-horizontal dt {
    white-space: normal;
}

input, select, textarea {
    max-width: 280px;
}

.panel-bienvenida {
    margin-top: 20px;
    background-color: #28A745;
    border-color: #28A745; 
    color: #FFF;
}

.panel-sobre-nosotros {
    margin-top: 20px;
    background-color: #17A2b8;
    border-color: #17A2b8;
    color: #FFF;
}

.agregarRegistro {
    margin-bottom: 20px;
}

.tablaApp>thead>tr>th {
    background-color: #158CBA;
    color: white;
} 
