<div class="jumbotron text-center panel-bienvenida">
    <h1>@ViewBag.Title</h1>
    <hr>
    <br>
    <p class="lead">@ViewBag.Message</p>
</div>

@section scripts
{
    <script>
        $(document).ready(function () {
            $.ajax({
                url: "http://localhost:55710/api/citaspacientes"
            }).then(function (response) {
                console.log(response);
            });
        });
    </script>
}